# ----------------------
# Flask
# ----------------------
flask

# ----------------------
# Third party library
# ----------------------
WTForms
distribute
raven
mailsnake

# ----------------------
# Flask Extension
# ----------------------
Flask-Mail
Flask-Script
Flask-WTF
Flask-Cache
Flask-DebugToolbar

# ----------------------
# Testing
# ----------------------
unittest2
mock
nose
coverage

# ----------------------
# Production Server
# ----------------------
gevent
gunicorn