{% extends "base_layout.html" %}

{% block css %}
    {{ super() }}
    <link rel="canonical" href="http://myconomy.ru"/>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
			padding: 0;
			margin: 0;
			width:100%;
			height:100%;
		    display: table;
			background: url('{{ config.STATIC_URL }}/images/white.png') no-repeat 50% 0%, url('{{ config.STATIC_URL }}/images/pattern.png'); /* Chrome10+,Safari5.1+ */
		}
		#container .tagline {
			font-family: 'Tenor Sans', Arial, sans-serif;
			font-weight: 400;
			font-size: 30px;
			line-height: 38px;
			text-align: center;
			color: #666666;
			position: relative;
			margin: 40px 0 0px 0;
		}

		#header .coming-soon h3 {
			font-family: 'Lobster', Georgia, serif;
			font-size: 72px;
			line-height: 80px;
			font-weight: 400;
			text-align: center;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			color: #666666;
			margin-bottom: 80px;
		}

		.description  {
			font-family: 'Tenor Sans', Helvetica, Arial, sans-serif;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			color: #666666;
		}

	</style>
{% endblock %}


{% block main %}
    <div id="container">
        <div id="top">
            <a href="#" id="title"><img src="{{ config.STATIC_URL }}/images/title.png" alt="myconomy"/></a>
        </div>
        <h2 class="tagline">Сервис разумных покупок</h2>
	    <div data-picture data-alt="Somming Soon... запуск проекта в ноябре 2012 года">
	        <div data-src="{{ config.STATIC_URL }}/images/main_320x149.png"></div>
	        <div data-src="{{ config.STATIC_URL }}/images/main_640x298.png"  data-media="(min-height: 599px)"></div>
	        <div data-src="{{ config.STATIC_URL }}/images/main_800x373.png"  data-media="(min-height: 740px)"></div>
	        <div data-src="{{ config.STATIC_URL }}/images/main_1013x472.png" data-media="(min-height: 799px)"></div>

	        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	        <noscript>
	            <img src="{{ config.STATIC_URL }}/images/main_800x373.png" alt="Somming Soon... запуск проекта в ноябре 2012 года">
	        </noscript>
	    </div>
        <p class="description">Удобно и просто находить лучшие предложения на товары. <br>Здесь и сейчас. Рядом. В одно движение. Специально для Вас.</p>
    </div>
    <div id="footer">
        <div class="cell">
			</form>
			<!-- Begin MailChimp Signup Form -->
			<div class="b-z-subscribe__form">
				<form id="signup" action="" method="get" name="joinForm" _lpchecked="1">
					<input type="email" id="email" name="email" class="b-z-subscribe__email" placeholder="Введите E-mail" required="">
					<a href="javascript:document.joinForm.submit();" name="submit" class="submit" style="">Получить приглашение</a>
				</form>
			</div>

			<div id="response" class="description" style="display: block; "></div>
			<!--End MailChimp Signup Form -->


		    <div data-picture data-alt="Somming Soon... запуск проекта в ноябре 2012 года">
		        <div data-src="{{ config.STATIC_URL }}/images/goods_320x29.png"></div>
		        <div data-src="{{ config.STATIC_URL }}/images/goods_640x59.png"  data-media="(min-height: 599px)"></div>
		        <div data-src="{{ config.STATIC_URL }}/images/goods_800x73.png"  data-media="(min-height: 740px)"></div>
		        <div data-src="{{ config.STATIC_URL }}/images/goods_1013x93.png" data-media="(min-height: 799px)"></div>

		        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
		        <noscript>
		            <img src="{{ config.STATIC_URL }}/images/goods_800x73.png" alt="Somming Soon... запуск проекта в ноябре 2012 года">
		        </noscript>
		    </div>

            <div id="social">
                <a id="fb" href="#"></a>
                <a id="ok" href="#"></a>
                <a id="vk" href="#"></a>
            </div>

        </div>
    </div>
{% endblock %}